.listContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .listContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
